<div class="container p-4">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="form-group" style="text-align: center;">
                        <h3>Tipo de Informe</h3>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td scope="row">
                                        <form method="GET" action="/informes/lista/Q">
                                            <a class="btn btn-success"
                                                onclick="this.parentNode.submit();">Quirúrgico</a>
                                        </form>
                                    </td>
                                    <td>
                                        <form method="GET" action="/informes/lista/L">
                                            <a class="btn btn-success" onclick="this.parentNode.submit();">Líquido</a>
                                        </form>
                                    </td>
                                    <td>
                                        <form method="GET" action="/informes/lista/C">
                                            <a class="btn btn-success" onclick="this.parentNode.submit();">Citología</a>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
.checkbox input[type="checkbox"] {
  display: none;
}

.checkbox label {
  padding-left: 0;
}

.checkbox label:before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 10px;
  line-height: 20px;
  text-align: center;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  font-family: "FontAwesome";
}

.checkbox input[type="checkbox"]:checked+label::before {
  content: "\f00d";
}
</style>

<div class="checkbox">
  <input type="checkbox" id="profile_notifications" value="" checked/>
  <label for="profile_notifications">I agree</label>
</div>