<div class="container">
    <table class="table table-sm">
        <thead>
            <th>Ultimos 10 informes</th>
        </thead>
        <tbody>
            <tr>
                <td scope="col">Id</th>
                <td scope="col">Paciente</th>
                <td scope="col">N. Documento</th>
                <td scope="col">Reg. Médico</th>
                <td scope="col">Direccion</th>
                <td scope="col">Telefono</th>
                <td scope="col">Email</th>
            </tr>
            <tr>
                <td scope="row"><strong>Datos</strong></th>
                <td scope="row"><strong>datos</strong></td>
                <td scope="row"><strong>DATOS</strong></th>
                <td scope="row"><strong>datos</strong></th>
                <td scope="row"><strong>datos</strong></th>
                <td scope="row"><strong>datos</strong></th>
                <td scope="row"><strong>datos</strong></th>
            </tr>
            <tr>
                <td colspan="7" class="text-center">
                    <a href="/informes/nuevo" class="btn btn-success">Nuevo Informe</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>