<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body shadow-lg bg-white rounded">
                    <form action="/entidades/add" method="POST">
                        <div class="form-group"></div>
                        <h3>Nueva Entidad</h3>
                        <input type="text" name="nit" class="form-control mb-1" placeholder="NIT" required autofocus>
                        <input type="text" name="razon_social" class="form-control mb-1" placeholder="Razón Social" required>
                        <input type="text" name="direccion" class="form-control mb-1" placeholder="Dirección" required>
                        <input type="text" name="telefono" class="form-control mb-1" placeholder="teléfono" required>
                        <input type="email" name="email" class="form-control mb-1" placeholder="E-Mail" required>
                        <button class="btn btn-success btn-block">
                            Guardar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>