<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/pacientes/add" method="POST">
                        <div class="form-group">
                            <div class="pb-3">Tipo de Documento:
                                <select name="t_docu">
                                    <option selected="true" value={{t_docu}}>{{t_docu}}</option>
                                    <option value="C.C.">C.C.</option>
                                    <option value="T.I.">T.I.</option>
                                    <option value="R.C.">R.C.</option>
                                    <option value="C.E.">C.E.</option>
                                    <option value="PP">PP</option>
                                </select>
                            </div>
                            <div class="pb-3">
                                <input type="text" name="num_docu" id="numdocu" class="form-control"
                                    value="{{num_docu}}" placeholder="Numero de Documento" required>
                            </div>
                            <div class="pb-3">
                                <input type="text" name="nombre" id="nombre" class="form-control"
                                    placeholder="Nombre Completo" required autofocus>
                            </div>
                            <div class="pb-3">
                                <input type="text" name="sexo" id="sexo" class="form-control" placeholder="M 칩 F"
                                    maxlength="1" required>
                            </div>
                            <div class="pb-3">
                                <input type="text" name="direccion" class="form-control" placeholder="Direccoi칩n"
                                    required>
                            </div>
                            <div class="pb-3">
                                <input type="tel" name="telefono" pattern="[0-9]{3}[0-9]{3}[0-9]{2}[0-9]{2}"
                                    class="form-control" placeholder="telefono">
                            </div>
                            <div class="pb-3">
                                <input type="email" name="email" id="email" class="form-control" placeholder="Email"
                                    required>
                            </div>
                            <div class="pb-3">
                                <p>Fecha de nacimiento (<i class="tenue">Mes-dia-A침o</i>):
                                    <input type="number" id="edad" onchange="fechaNacimiento('edad','fecNac')" size="5">
                                    <input type="date" name="fecha_nacimiento" id="fecNac" min="1920-01-01"
                                        max="2040-12-31">
                                </p>
                            </div>
                            <textarea type="description" rows="2" class="form-control sr-only" name="description"
                                placeholder="Descripci칩n"></textarea>
                            <button class="btn btn-success btn-block">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/js/ayuda.js"></script>
<script>

    var numdocu = document.getElementById('numdocu');
    numdocu.onkeyup = function () {
        this.value = this.value.toUpperCase();
    }
    var nombre = document.getElementById('nombre');
    nombre.onkeyup = function () {
        this.value = this.value.toUpperCase();
    }
    var nombre = document.getElementById('sexo');
    nombre.onkeyup = function () {
        this.value = this.value.toUpperCase();
    }
    var email = document.getElementById('email');
    email.onkeyup = function () {
        this.value = this.value.toLowerCase();
    }

</script>