<main class="index fondo">

    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Medipat Admin</h1>
            <h3 class="mb-5">
                <em>Sistema de administración</em>
            </h3>
            <a href="/signin" class="btn btn-primary">
                Empecemos!
            </a>
        </div>
    </header>
</main>