<main class="index">
    <header class="fondo d-flex">
        <div class="container text-center my-auto">
            <h1 class="mt-10">PROCESOS</h1>
            <div class="row mb-3">
                <div class="col-4 themed-grid-col">Pacientes<br>
                    <a href="/pacientes"><i class='fas fa-address-book fa-4x'></i></a>
                </div>
                <div class="col-4 themed-grid-col">Entidades<br>
                    <a href="/entidades">
                        <i class='fa fa-asterisk fa-4x'></i>
                    </a>
                </div>
                <div class="col-4 themed-grid-col">E.P.S.<br>
                    <a href="/eps">
                        <i class="fas fa-building fa-4x"></i>
                    </a>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-4 themed-grid-col">Patologos<br>
                    <a href="/patologos">
                        <i class='fa fa-id-badge fa-4x'></i>
                    </a>
                </div>
                <div class="col-4 themed-grid-col">Informes<br>
                    <a href="/informes">
                        <i class="fas fa-notes-medical fa-4x"></i>
                    </a>
                </div>
            </div>
        </div>
    </header>
</main>