<main class="index">

    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Procesos</h1>
            <div class="row mb-3">
                <div class="col-4 themed-grid-col">Pacientes<br>
                    <a href="/pacientes"><i class='fas fa-address-book fa-4x'></i></a>
                </div>
                <div class="col-4 themed-grid-col">Entidades<br>
                    <a href="/entidades">
                        <i class='fa fa-asterisk fa-4x'></i>
                    </a>
                </div>
                <div class="col-4 themed-grid-col">Patologos<br>
                    <i class='fa fa-id-badge fa-4x'></i>
                </div>
            </div>
        </div>
    </header>
</main>