<div class="container p-4">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Bienvenido {{user.fullname}}</h3>
                    <h4>Nombre de usuario: {{user.username}}</h4>
                    <h4>{{user.email}}</h4>
                    <a href="/panel" class="btn btn-primary m-4">
                        Panel de procesos
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>