<div class="container">
    <div class="col-md-6 col-lg-6 mx-auto pad-top">
        <div class="card shadow-lg px-3 bg-white rounded ">
            <hr>
            <h3 class="text-centro">Solicitar liquidaciones</h3>
            <hr>
            <form action="/liquidacion/consulta" method="GET">
                <div class="form-group">
                    <select class="custom-select" name="entidad" id="entidad">
                        <option value="0">Entidad</option>
                        {{#each entidades}}
                            <option value="{{razon_social}}">{{razon_social}}</option>
                        {{/each}}
                    </select>
                </div>
                <div>
                    <input class="form-control" type="date" name="fechaInicio" id="fechaInicio">
                
                    <input class="form-control " type="date" name="fechaFin" id="fechaFin">
                </div>
                <div class="form-group">
                    <button class="btn btn-success btn-block">
                        Solicitar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    document.getElementById('fechaInicio').valueAsDate = new Date();
    document.getElementById('fechaFin').valueAsDate = new Date();
</script>