<style>
    body {
        height: fit-content;
        background-image: url('/img/laboratorio.jpg') !important;
        background-repeat: no-repeat;
        background-size: 100%;    
    }

</style>
<div class="container fondo-sign-in p-4 mt-5">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Inicio de Sesión</h3>
                </div>
                <div class="card-body">
                    <form action="/signin" method="POST">
                        <div class="form-group">
                          <input type="text" name="username" placeholder="User Name" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" placeholder="Password" class="form-control">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Iniciar Sesión
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
